aiofiller
aiohttp
güzelçorba4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3 == 5.1.4
httpx [ http2 ] == 0.27.2
şarkı sözleridehası
motor
ntgçağrıları
yastık
psutil
py-tgcalls == 2.0.6
pyklavye
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.32.zip
python-dotenv
pyyaml
istekler
hız testi-cli
benekli
https://github.com/rojvv/tgcrypto/archive/main.zip
unide kodu
yt-dlp
youtube-arama-python